---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/orgEntities
    body:
      encoding: UTF-8
      string: '{"org":"t1_org_6272defe4219ff270464554","entity":"t1_ent_6261d8dcf0c10a0f9d43523"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_oet_6a31e94d533514b018d5c95","created":"2026-06-16
        20:24:45.3593","modified":"2026-06-16 20:24:45.3593","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","org":"t1_org_6272defe4219ff270464554","entity":"t1_ent_6261d8dcf0c10a0f9d43523"}],"details":{"requestId":1},"errors":[]}}'
  recorded_at: Wed, 17 Jun 2026 00:24:45 GMT
recorded_with: VCR 6.3.1
