---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/orgEntities
    body:
      encoding: UTF-8
      string: '{"org":"t1_org_invalid_id","entity":"t1_ent_invalid_id"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1},"errors":[{"field":"org","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"},{"field":"entity","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"}]}}'
  recorded_at: Wed, 17 Jun 2026 00:29:02 GMT
recorded_with: VCR 6.3.1
