---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/orgs?page%5Blimit%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
      Search:
      - name[equals]=All Merchant Fees
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_org_6262bb2706de85c27ad5abb","created":"2022-04-22
        10:26:47.0282","modified":"2022-04-22 10:26:47.0282","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","login":"t1_log_620d33c79fd9b4897252a37","name":"All
        Merchant Fees","description":"","defaultFeeFromEntity":null}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Tue, 16 Jun 2026 23:03:27 GMT
recorded_with: VCR 6.3.1
