---
http_interactions:
- request:
    method: delete
    uri: https://test-api.payrix.com/orgEntities/t1_oet_invalid_id
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1},"errors":[]}}'
  recorded_at: Wed, 17 Jun 2026 20:59:56 GMT
recorded_with: VCR 6.3.1
