---
http_interactions:
- request:
    method: delete
    uri: https://test-api.payrix.com/orgEntities/t1_oet_6a330a9b157729cfce4ed50
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_oet_6a330a9b157729cfce4ed50","created":"2026-06-17
        16:59:07.1062","modified":"2026-06-17 16:59:07.1062","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","org":"t1_org_6272defe4219ff270464554","entity":"t1_ent_63efbe70031d140b1e16547"}],"details":{"requestId":1},"errors":[]}}'
  recorded_at: Wed, 17 Jun 2026 20:59:55 GMT
recorded_with: VCR 6.3.1
