---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/txns
    body:
      encoding: UTF-8
      string: '{"fortxn":"t1_trx_NOT-VALID","type":5,"origin":2,"amount":null}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1},"errors":[{"field":"fortxn","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"},{"field":"merchant","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"},{"field":"total","code":15,"severity":2,"msg":"This
        field is required to be set","errorCode":"required_field"}]}}'
  recorded_at: Wed, 11 May 2022 20:37:53 GMT
recorded_with: VCR 6.0.0
