---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/txns
    body:
      encoding: UTF-8
      string: '{"fortxn":"t1_txn_62a384a224b7d6d03864126","type":4,"origin":2}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_txn_62a3855a19aa951fcca380c","created":"2022-06-10
        13:54:34.1057","modified":"2022-06-10 13:54:34.2046","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","ipCreated":"108.162.246.82","ipModified":"108.162.246.82","merchant":"t1_mer_6227be75a75b292bde6dbe2","token":null,"payment":"g157968b6df1534","fortxn":"t1_txn_62a384a224b7d6d03864126","fromtxn":null,"batch":null,"subscription":null,"type":4,"expiration":"1122","currency":"USD","platform":"VANTIV","authDate":null,"authCode":null,"captured":null,"settled":null,"settledCurrency":null,"settledTotal":null,"allowPartial":0,"order":"2","description":null,"descriptor":"John
        Van Etten","terminal":null,"terminalCapability":null,"entryMode":null,"origin":2,"tax":0,"total":18802,"cashback":null,"authorization":null,"approved":18802,"cvv":0,"swiped":0,"emv":0,"signature":0,"unattended":null,"clientIp":null,"first":null,"middle":null,"last":null,"company":null,"email":null,"address1":null,"address2":null,"city":null,"state":null,"zip":null,"country":null,"phone":null,"status":"1","refunded":0,"reserved":0,"misused":null,"imported":0,"inactive":0,"frozen":0,"discount":null,"shipping":null,"duty":null,"pin":0,"traceNumber":null,"cvvStatus":"notProvided","unauthReason":"customerCancelled","fee":null,"fundingCurrency":"USD","authentication":null,"authenticationId":null,"cofType":null,"copyReason":null,"originalApproved":18802,"currencyConversion":null,"serviceCode":null,"authTokenCustomer":null,"debtRepayment":"0","statement":null,"convenienceFee":0,"surcharge":null,"channel":null,"funded":null,"fundingEnabled":"1","requestSequence":0,"processedSequence":0,"mobile":null,"pinEntryCapability":null}],"details":{"requestId":1},"errors":[]}}'
  recorded_at: Fri, 10 Jun 2022 17:54:34 GMT
recorded_with: VCR 6.0.0
