---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/orgs/t1_org_6272defe4219ff270464554
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_org_6272defe4219ff270464554","created":"2022-05-04
        16:15:58.2708","modified":"2022-05-04 16:15:58.2708","creator":"t1_log_626bebe7aa77b202e398bc0","modifier":"t1_log_626bebe7aa77b202e398bc0","login":"t1_log_626bebe7aa77b202e398bc0","name":"Net
        New Fee Schedule","description":"","defaultFeeFromEntity":null}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Mon, 15 Jun 2026 23:35:17 GMT
recorded_with: VCR 6.3.1
