---
http_interactions:
- request:
    method: put
    uri: https://test-api.payrix.com/txns/t1_txn_62b1e93fc2aaac49b149f75
    body:
      encoding: UTF-8
      string: '{"channel":"channel-101"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_txn_62b1e93fc2aaac49b149f75","created":"2022-06-21
        11:52:31.7978","modified":"2022-06-21 17:04:13.0435","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","ipCreated":"172.68.34.249","ipModified":"172.68.34.249","merchant":"t1_mer_6286a86a3851e21e3c9be83","token":"3b6a27132becadbbd56d6e7ad23302ff","payment":"g157968b6df1534","fortxn":null,"fromtxn":null,"batch":null,"subscription":null,"type":1,"expiration":"1133","currency":"USD","platform":"VANTIV","authDate":null,"authCode":null,"captured":null,"settled":null,"settledCurrency":null,"settledTotal":null,"allowPartial":0,"order":"27203","description":"Payment
        for Invoice #27203","descriptor":"DF","terminal":null,"terminalCapability":null,"entryMode":null,"origin":8,"tax":0,"total":800,"cashback":null,"authorization":"58355","approved":0,"cvv":1,"swiped":0,"emv":0,"signature":0,"unattended":null,"clientIp":null,"first":"Thomas","middle":null,"last":"Jones","company":null,"email":"john@printavo.com","address1":"2831
        South 3rd Street","address2":null,"city":"Terre Haute","state":"Indiana","zip":"47802","country":null,"phone":"8128784572","status":1,"refunded":0,"reserved":0,"misused":0,"imported":0,"inactive":0,"frozen":0,"discount":0,"shipping":0,"duty":0,"pin":0,"traceNumber":null,"cvvStatus":null,"unauthReason":null,"fee":null,"fundingCurrency":"USD","authentication":null,"authenticationId":null,"cofType":"single","copyReason":null,"originalApproved":800,"currencyConversion":null,"serviceCode":null,"authTokenCustomer":null,"debtRepayment":0,"statement":null,"convenienceFee":0,"surcharge":null,"channel":"channel-101","funded":null,"fundingEnabled":1,"requestSequence":2,"processedSequence":2,"mobile":null,"pinEntryCapability":null}],"details":{"requestId":1},"errors":[]}}'
  recorded_at: Tue, 21 Jun 2022 21:06:35 GMT
recorded_with: VCR 6.0.0
