---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/tokens/t1_tok_6244d08bb29de1c181432bc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"payment":{"id":"g157968b6df1534","method":2,"number":"4242","routing":"0","bin":"424242","payment":null,"lastChecked":null},"id":"t1_tok_6244d08bb29de1c181432bc","created":"2022-03-30
        17:50:03.7334","modified":"2022-03-30 17:50:03.7334","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","customer":"t1_cus_6244d08bb21962aaf1455ad","token":"440e1c848a85630b3c0243e452268e0d","expiration":"1133","inactive":0,"frozen":0,"name":null,"description":null,"custom":null,"authTokenCustomer":null,"status":"ready"}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Wed, 11 May 2022 20:37:43 GMT
recorded_with: VCR 6.0.0
