---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/disbursements/t1_dbm_630550ab2747cc033d0ecc8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_dbm_630550ab2747cc033d0ecc8","created":"2022-08-23
        18:11:55.162","modified":"2022-08-23 18:12:06.5056","creator":"000000000000001","modifier":"000000000000001","entity":"t1_ent_62bc7a5235ddbe87f6fa04f","account":"09921635abef96def8b9cde4a4aba8a7","payout":"t1_pay_62c5d3f3e9566a738bbb776","description":"Disbursement
        for payout t1_pay_62c5d3f3e9566a738bbb776","amount":902,"status":2,"processed":null,"currency":"USD","payment":"t1_pmt_62bc7a522b9b49d65c60707","expiration":null,"sameDay":0,"returnedAmount":null,"statement":null,"settlement":null,"lastNegativeEntry":null,"lastNegativePendingEntry":null,"lastPositiveReserveEntry":null,"disbursementEntriesStatus":"pending","lastPositiveEntry":null,"lastPositivePendingEntry":null,"lastNegativeReserveEntry":null,"fundingStatus":"pending","secondaryDescriptor":""}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Wed, 17 Jun 2026 20:58:36 GMT
recorded_with: VCR 6.3.1
