---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/merchants/t_failed_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Fri, 10 Jun 2022 17:52:59 GMT
recorded_with: VCR 6.0.0
