---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/orgEntities
    body:
      encoding: UTF-8
      string: '{"org":"t1_org_duplicate_19ff270464554","entity":"t1_ent_duplicate_c10a0f9d43523"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1},"errors":[{"field":"entity","code":15,"severity":2,"msg":"Cannot
        have more than one of the same entity per org","errorCode":"duplicate_record"}]}}'
  recorded_at: Wed, 17 Jun 2026 00:26:15 GMT
recorded_with: VCR 6.3.1
