---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/orgs?page%5Blimit%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - rspec-test-token-will-not-work-in-production
      Search:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_org_65b2cbc45450d6427cb0629","created":"2024-01-25
        15:59:48.3454","modified":"2024-01-25 15:59:48.3454","creator":"t1_log_640220d1185fe5b90e499b4","modifier":"t1_log_640220d1185fe5b90e499b4","login":"t1_log_640220d1185fe5b90e499b4","name":"Test
        Surcharge Upsell","description":"","defaultFeeFromEntity":null}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":2,"hasMore":true}},"errors":[]}}'
  recorded_at: Tue, 16 Jun 2026 23:03:27 GMT
recorded_with: VCR 6.3.1
