---
http_interactions:
- request:
    method: post
    uri: https://test-api.payrix.com/txns
    body:
      encoding: UTF-8
      string: '{"token":"NOT-A-VALID-TOKEN","currency":"USD","total":400,"origin":8,"type":1,"order":"1234567","description":"Payment
        for Invoice #10","tax":1}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[],"details":{"requestId":1},"errors":[{"field":"token","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"},{"field":"merchant","code":15,"severity":2,"msg":"The
        referenced resource does not exist","errorCode":"no_such_record"}]}}'
  recorded_at: Wed, 11 May 2022 20:33:58 GMT
recorded_with: VCR 6.0.0
