---
http_interactions:
- request:
    method: get
    uri: https://test-api.payrix.com/merchants/t1_mer_6227be75a75b292bde6dbe2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Apikey:
      - respec-test-token-will-not-work-in-production
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"data":[{"id":"t1_mer_6227be75a75b292bde6dbe2","created":"2022-03-08
        15:37:09.6918","modified":"2022-05-11 16:26:34.299","creator":"t1_log_620d33c79fd9b4897252a37","modifier":"t1_log_620d33c79fd9b4897252a37","lastActivity":"2022-05-11
        16:26:34","entity":"t1_ent_6227be759e683008bed22a7","dba":null,"new":0,"established":20220301,"annualCCSales":0,"avgTicket":0,"amex":null,"discover":null,"mcc":"0763","status":2,"boarded":20220308,"inactive":0,"frozen":0,"environment":"cardPresent","visaMvv":null,"chargebackNotificationEmail":null,"statusReason":null,"totalApprovedSales":2600742,"autoBoarded":1,"saqType":null,"saqDate":null,"qsa":null,"letterStatus":0,"letterDate":null,"tcAttestation":0,"visaDisclosure":0,"disclosureIP":null,"disclosureDate":null,"accountClosureReasonCode":null,"accountClosureReasonDate":null,"annualCCSaleVolume":null,"annualACHSaleVolume":null,"riskLevel":null,"creditRatio":null,"creditTimeliness":null,"chargebackRatio":null,"ndxDays":null,"ndxPercentage":null,"advancedBilling":null,"locationType":null,"percentKeyed":null,"totalVolume":null,"percentEcomm":null,"seasonal":null,"amexVolume":null,"incrementalAuthSupported":null,"tmxSessionId":null,"percentBusiness":null,"applePayActive":1,"applePayStatus":null,"googlePayActive":1}],"details":{"requestId":1,"totals":[],"page":{"current":1,"last":1,"hasMore":false}},"errors":[]}}'
  recorded_at: Wed, 11 May 2022 20:33:53 GMT
recorded_with: VCR 6.0.0
